{% extends "layout.html" %}
{% block title %}
Admin Operation
{% endblock %}
{% block content %}
<h1>Admin Form for RPDR</h1>

<form action="{{ url_for("admin_operation_rpdr")}}" method="POST">
    <label for="admin_method">Choose a method:</label>
    <select id="admin_method" name="admin_method">
      <option value="assign">Assign</option>
      <option value="revoke">Revoke</option>
    </select> 
    <!-- <label for="username">User name:</label>
    <input type="text" id="username" name="user" placeholder="Julia"> -->
    <label for="AR">Administrative Role:</label>
    <input type="text" id="AR" name="AR" placeholder="Home_Owner">
    <label for="RP">Role Pair:</label>
    <input type="text" id="RP" name="RP" placeholder='kid": ["Entertainment_Time"]'>
    <label for="DR">Entertainment Devices:</label>
    <input type="text" id="DR" name="DR" placeholder="Entertainment_Devices">
    <button type="submit">Submit</button>
</form>

{% endblock %}